{% load static %}

<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- <script src="https://www.w3schools.com/lib/w3.js"></script> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Times New Roman", sans-serif}
</style>
<head>
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href=".style1.css">
</head>
<body>
    
    <header>
        <nav >
            <div align="right" class="w3-top w3-bar w3-xlarge w3-black w3-opacity-min" padding-right=5px>
                <!-- <a href="/">Home</a> -->
                <a  href="{% url 'home' %}">Homepage  </a>
                <a href="{% url 'menu' %}">Menu  </a>
                <a href="{% url 'contact' %}">Contact  </a>

                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Logout  </a>
                {% else %}
                    <a href="{% url 'login' %}">Login  </a>
                    <a href="{% url 'signup' %}">Signup  </a>
                {% endif %}
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
