{% extends 'base.html' %}

{% block content %}
<div style="height:800px;background-image:url('Header.jpg');background-size:cover" class="w3-display-container w3-grayscale-min">
  <div class="w3-display-bottomleft">
  <span class="w3-tag w3-xlarge">Open from 8A.M. to 11P.M.</span>
  </div>
  <div class="w3-display-middle w3-center">
  <span class="w3-text-red" style="font-size:100px">INTER<br>THAPAR DELIVERY</span>
  <p><a href="menu" class="w3-button w3-xxlarge w3-black">Go to menu</a></p>
  </div>
  </div>
  
  
  <!-- About -->
  <div id="about" class="w3-container w3-red w3-grayscale w3-xlarge w3-padding-64">
  
  <h1 class="w3-center w3-jumbo">About</h1>
  
  <p>InterThaparDelivery is a Software Engineering project which targets towards delivery of all types of items inside the campus without the trouble of phone calls and cash on delivery restricted payments. Since, it's for the students, therefore it's easier to sign in using the insitute assigned email-id which will maintain the validity of the orders. </p>
  
  
  <p>We are proud of our shops.</p>
  <p class="w3-padding-16 w3-stretch">
  </p>
  <h1><b>Opening Hours</b></h1>
  
  <p>Everyday: 08:00-23:00</p>
  </div>
  
  <!-- </div> -->
  
{% endblock %}
